/* base styles */

body {
  font-family: helvetica;
}

fieldset {
  padding: 20px;
}

/* any input with a type of "text"; bracket says, "any attribute" */
input[type="text"] {
  padding: 7px;
  margin-left: 7px;
  border: solid 1px #000;
  border-radius: 3px;
}

input[type="number"] {
  padding: 7px;
  margin-left: 7px;
  border: solid 1px #000;
  border-radius: 3px;
}

/* pseudo selector */
input[type="text"]:focus {
  background: #000;
  color: #fff;
}

input[type="number"]:focus {
  background: #000;
  color: #fff;
}

button {
  margin-left: 20px;
  margin-bottom: 20px;
  border: none;
  padding: 8px 18px;
  background: black;
  color: #fff;
  border-radius: 3px;
  cursor: pointer; /* call to action - looks like a hand when above it */
  font-size: 20px;
}

table {
  margin-left: 20px;
  font-size: 14px;
  text-align: center;
}

thead {
  background: #dcdcdc;
}

td {
  padding: 10px;
  border: solid 1px #000;
}
